<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS from local file-->
    <link href="{{ url_for('static', filename='landing.css')}}" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- CSS -->
	<style>
	</style>

	<title>Landing</title>
</head>

<body>
	<div class="container">
        Add your home page
	</div>
</body>

</html>
